<header class="header container" [ngClass]="{active: isActive}">
  <div class="header-burger" (click)="this.isActive = !this.isActive;" [ngClass]="{active: isActive}">
    <span></span>
  </div>
  <nav class="nav" [ngClass]="{active: isActive}">
    <ul class="topmenu">
      <li><a href="#" class="nav-link">Для мужчин</a></li>
      <li><a href="#" class="nav-link">Для женщин</a></li>
      <li><a href="#" class="nav-link">Для детей</a></li>
      <li class="logo">
        <a class="logo-link">
          <img src="../assets/images/logo.svg" alt="logo" class="logo-image">
          <h1 class="logo-text">THE LOOP</h1>
        </a>
      </li>
      <li><a href="#" class="nav-link">Оплата</a></li>
      <li><a href="#" class="nav-link">Доставка</a></li>
    </ul>
  </nav>
  <div class="basket">
    <img src="./assets/images/basket.svg" alt="" class="basket-img">
    <div class="info-basket"><p class="info-basket-text">5</p></div>
  </div>
</header>
<main class="main">
  <div class="slider container">
    <swiper class="swiper-container" [config]="config" (indexChange)="sliderIndex=$event">
      <div *ngFor="let slide of slides" class="swiper-slide">
        <div class="swiper-text">
          <p class="swiper-title">Зимняя распродажа</p>
          <h2 class="swiper-info">СКИДКИ ДО 90%</h2>
          <button class="swiper-btn">СМОТРЕТЬ МОДЕЛИ</button>
        </div>
        <div class="swiper-shoes">
          <p class="swiper-old-price">9 900 ₽</p>
          <h3 class="swiper-new-price">1 900 ₽</h3>
        </div>
      </div>
    </swiper>
    <div class="swiper-pag">
      <div *ngFor="let slide of slides; index as i" [ngClass]="{selected: i === sliderIndex}" class="pagination-item"></div>
    </div>
  </div>
  <div class="delivery-info">
    <h3 class="delivery-title">БЕСПЛАТНАЯ ДОСТАВКА <span class="delivery-price">ОТ 3000₽</span></h3>
    <p class="delivery-text">Сделайте заказ и получите подарок!</p>
  </div>
  <div class="collection-info">
    <div class="container collection-body">
      <div class="collection-column">
        <div class="collection-content">
          <div class="collection-title">МУЖСКАЯ <span class="collection-subtitle">КОЛЛЕКЦИЯ</span></div>
          <div class="collection-text">Обувь, полуверы, костюмы</div>
          <button class="collection-btn">
            <img src="./assets/images/arrow.svg" alt="">
          </button>
        </div>
        <div class="collection-image">
          <img src="./assets/images/men-fashion.png" alt="">
        </div>
      </div>
      <div class="collection-column">
        <div class="collection-content">
          <div class="collection-title">ЖЕНСКАЯ <span class="collection-subtitle">КОЛЛЕКЦИЯ</span></div>
          <div class="collection-text">Обувь, полуверы, костюмы</div>
          <button class="collection-btn">
            <img src="./assets/images/arrow.svg" alt="">
          </button>
        </div>
        <div class="collection-image">
          <img src="./assets/images/women-fashion.png" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="general">
    <div class="catalog">
      <div class="catalog-item elem-odd">
        <div class="catalog-image">
          <img src="./assets/images/catalog-photo.png" alt="">
        </div>
      </div>
      <div class="catalog-item elem-even">
        <div class="catalog-image">
          <img src="./assets/images/catalog-photo.png" alt="">
        </div>
      </div>
      <div class="catalog-item elem-odd">
        <div class="catalog-image">
          <img src="./assets/images/catalog-photo.png" alt="">
        </div>
      </div>
      <div class="catalog-item elem-even">
        <div class="catalog-image">
          <img src="./assets/images/catalog-photo.png" alt="">
        </div>
      </div>
      <div class="catalog-item elem-even">
        <div class="catalog-image">
          <img src="./assets/images/catalog-photo.png" alt="">
        </div>
      </div>
      <div class="catalog-item elem-odd">
        <div class="catalog-image">
          <img src="./assets/images/catalog-photo.png" alt="">
        </div>
      </div>
      <div class="catalog-item elem-even">
        <div class="catalog-image">
          <img src="./assets/images/catalog-photo.png" alt="">
        </div>
      </div>
      <div class="catalog-item elem-odd">
        <div class="catalog-image">
          <img src="./assets/images/catalog-photo.png" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="general">
    <div class="model container">
      <h2 class="model-title">Новые модели</h2>
      <div class="model-info container">
        <div class="model-item">
          <div class="model-image">
            <img src="./assets/images/model.png" alt="">
          </div>
          <div class="model-text">Коктейльное платье</div>
          <div class="model-price">₽ 40 000</div>
        </div>
        <div class="model-item">
          <div class="model-image">
            <img src="./assets/images/model.png" alt="">
          </div>
          <div class="model-text">Коктейльное платье</div>
          <div class="model-price">₽ 40 000</div>
        </div>
        <div class="model-item">
          <div class="model-image">
            <img src="./assets/images/model.png" alt="">
          </div>
          <div class="model-text">Коктейльное платье</div>
          <div class="model-price">₽ 40 000</div>
        </div>
        <div class="model-item">
          <div class="model-image">
            <img src="./assets/images/model.png" alt="">
          </div>
          <div class="model-text">Коктейльное платье</div>
          <div class="model-price">₽ 40 000</div>
        </div>
      </div>
      <button class="model-btn">ВСЕ МОДЕЛИ <img src="./assets/images/arrow.svg" alt=""></button>
    </div>
  </div>
  <div class="subscribe">
    <h2 class="subscribe-title">ПОЛУЧАЙТЕ СКИДКИ И ПОДАРКИ</h2>
    <input type="email" class="subscribe-email" placeholder="Ваш e-mail">
    <button class="subscribe-btn">ПОДПИСАТЬСЯ</button>
  </div>
  <div class="general">
    <div class="model container">
      <h2 class="model-title">СКИДКИ ДО 90%</h2>
      <div class="model-info container">
        <div class="model-item">
          <div class="model-image">
            <img src="./assets/images/model.png" alt="">
          </div>
          <div class="model-text">Коктейльное платье</div>
          <div class="model-price">₽ 40 000</div>
        </div>
        <div class="model-item">
          <div class="model-image">
            <img src="./assets/images/model.png" alt="">
          </div>
          <div class="model-text">Коктейльное платье</div>
          <div class="model-price">₽ 40 000</div>
        </div>
        <div class="model-item">
          <div class="model-image">
            <img src="./assets/images/model.png" alt="">
          </div>
          <div class="model-text">Коктейльное платье</div>
          <div class="model-price">₽ 40 000</div>
        </div>
        <div class="model-item">
          <div class="model-image">
            <img src="./assets/images/model.png" alt="">
          </div>
          <div class="model-text">Коктейльное платье</div>
          <div class="model-price">₽ 40 000</div>
        </div>
      </div>
      <button class="model-btn">ВСЕ МОДЕЛИ <img src="./assets/images/arrow.svg" alt=""></button>
    </div>
  </div>
</main>
<footer class="footer">
  <div class="footer-nav">
    <div class="footer-content container">
      <div class="footer-main-info">
        <div class="footer-main-title">
          <div class="footer-logo">
            <img src="./assets/images/logo.svg" alt="">
          </div>
          <h2 class="footer-title">the loop</h2>
        </div>
        <div class="footer-main-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla faucibus egestas elit, at eleifend elit ornare ut.
        </div>
      </div>
      <div class="footer-nav-columns">
        <div class="footer-column">
          <div class="footer-column-title"  [ngClass]="{spoiler: isSpoiler[0]}" (click)="toggleSpoiler(0)">Основные ссылки</div>
          <ul class="footer-list" [ngClass]="{footer_list_display: isListDisplay[0]}">
            <li class="footer-list-elem">О компании</li>
            <li class="footer-list-elem">Каталог</li>
            <li class="footer-list-elem">Доставка</li>
          </ul>
        </div>
        <div class="footer-column">
          <div class="footer-column-title"  [ngClass]="{spoiler: isSpoiler[1]}" (click)="toggleSpoiler(1)">Категории</div>
          <ul class="footer-list" [ngClass]="{footer_list_display: isListDisplay[1]}" >
            <li class="footer-list-elem">Мужская одежда</li>
            <li class="footer-list-elem">Женская одежда</li>
            <li class="footer-list-elem">Детская одежда</li>
            <li class="footer-list-elem">Для животных</li>
          </ul>
        </div>
        <div class="footer-column">
          <div class="footer-column-title" [ngClass]="{spoiler: isSpoiler[2]}" (click)="toggleSpoiler(2)">ПОЛЕЗНЫЕ ССЫЛКИ</div>
          <ul class="footer-list" [ngClass]="{footer_list_display: isListDisplay[2]}">
            <li class="footer-list-elem">Таблица размеров</li>
            <li class="footer-list-elem">Блог о моде</li>
            <li class="footer-list-elem">Наша миссия</li>
          </ul>
        </div>
        <div class="footer-column">
          <div class="footer-column-title"  [ngClass]="{spoiler: isSpoiler[3]}" (click)="toggleSpoiler(3)">СОЦ СЕТИ</div>
          <ul class="footer-list" [ngClass]="{footer_list_display: isListDisplay[3]}">
            <li class="footer-list-elem">
              <img src="./assets/images/vk.svg" alt="" class="footer-list-image">VK.com
            </li>
            <li class="footer-list-elem">
              <img src="./assets/images/fb.svg" alt="" class="footer-list-image">Facebook
            </li>
            <li class="footer-list-elem">
              <img src="./assets/images/insta.png" alt="" class="footer-list-image">Instagram
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-info">
    <div class="footer-policy container">
      <div class="footer-policy-info">Copyright © 2019. Все права защищены</div>
      <div class="footer-policy-text">Политика приватности</div>
    </div>
  </div>
</footer>
